<h3>Lista de Productos</h3>
<div>
    {{#if products.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Foto</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>${{this.precio}}</td>
            <td>{{this.stock}}</td>
            <td><img width="48" src={{this.foto}} alt="image"></td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div>
        No hay productos
    </div>
    {{/if}}
</div>

